*{
  text-align: center;
}

.input{
  width: 80%;
  padding: 6px;
}

.Boton{
  width: 60%;
  padding: 6px;
  margin: 5px;
}

.resultado{
  text-align: center;
  padding-top: 5px;
}

.grid{
  display: grid;
  grid-template-columns: 32% 32% 32%;
}

@media screen and (max-width: 768px){
  .derecha{
    float: initial;
    width: 100%;
  }
  .izquierda{
    float: initial;
    width: 100%;
  }
  .center{
    float: initial;
    width: 100%;
  }
  .grid{
    grid-template-columns: 100%
  }
}
